{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/set_army_name.css') }}">
{%  endblock styles %}

{% block content %}
    <div class="mt-4 d-flex flex-column align-items-center justify-content-center">
        <div class="text-center bg-warning p-1 mb-2 rounded">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST" class="text-center border border-light p-5 w-100">
            {{ form.hidden_tag() }}
            <p class="h4 mb-4">Choose army name</p>
            {% if form.army_name.errors %}
                {{ form.army_name(class="form-control mb-4 is-invalid") }}
                {% for error in form.army_name.errors %}
                    <div class= "invalid-feedback"> {{ error }} </div>
                {% endfor %}
            {% else %}
                {{ form.army_name(class="form-control mb-4") }}
            {% endif %}
            <button class="btn btn-dark btn-block my-4" type="submit">Sign in</button>
        </form>
    </div>
{% endblock content %}
