{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/set_army_name.css') }}">
{%  endblock styles %}

{% block content %}
    <div class="form_container">
        <div class="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <span>Choose army name</span>
            <div class="form-input">
                {{ form.army_name.label() }}
                {% if form.army_name.errors %}
                    {{ form.army_name(class="input") }}
                    {% for error in form.army_name.errors %}
                        <div class= "error"> {{ error }} </div>
                    {% endfor %}

                {% else %}
                    {{ form.army_name(class="input") }}
                {% endif %}
            </div>
            <div class="submit">
                {{ form.submit(class="submit-btn") }}
            </div>
        </form>
    </div>
{% endblock content %}
