.main-container {
    display: flex;
    justify-content: space-between;
}

.main-table-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.semi-table-container {
    width: 50%
}

.army-name {
    color: black;
}

.next-previous-buttons {
    display: flex;
    justify-content: space-around;
}

.n-page a, .p-page a {
    color: blue;
}

.army-name-current {
    color: red;
}