#army-name {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.user-army-container{
    width: 90%;
}

.tables {
    display: flex;
    justify-content: center;
}

.resources {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.resource {
    display: flex;
}

.resource-name {
    color: white;
    font-weight: bold;
}

.img {
    height: 3rem;
    width: 3rem;
}

.gold-amount {
    color: gold;
}

.metal-amount {
    color: grey;
}

.wood-amount {
    color: saddlebrown;
}

.field-amount {
    color: black;
}