.log_title {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.account_message {
    text-align: center;
    background-color: rgb(6, 255, 6);
    font-size: 15px;
    font-weight: bold;
}

.google-login-button {
    height: 35px;
    width: 10.5rem;
    border-radius: 3px;
    border: 1px solid black;
    align-items: center;
}

.google-button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.google-login-button:hover {
    height: 40px;
    width: 11rem;
}
