body {
    background-color: black;
    font-family: Arial;
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+99,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 99%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 99%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#207cca 99%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.nav-links{
    padding: 0;
}

#nav-bar a{
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    transition: 0.3s;
}

#nav-bar a:hover{
    color: #AFCBFF;
    transition: 0.3s;
}

#nav-bar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    min-height: 100px;
    background-color: #0E1C36;
    color: #eee;
    margin: 0;
}

#nav-bar ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 1rem 0.5rem 1rem;
}

.side-links ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    font-size: 25px;
    background-color: #3A405A;
}

.side-links li {
    padding: 20px 0;
}

.side-links a:hover {
    color: blue;
}

.side-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
