.card-img-top {
    width: 20vh;
    height: 16vh;
    object-fit: fill;
}

.power-img {
    width: 35px;
    height: 35px;
}

.resource-img {
    width: 25px;
    height: 25px;
}

.card {
    background-color: #66707b;
}

.btn-dark {
    background-color: #1a224c !important;
}

.bg-warning,
.bg-success {
    border-radius: 3px;
}

.purchase-result {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.purchase-result.message-showing {
    height: 100%;
    opacity: 1;
    transition: 0.3s;
}

.purchase-result p {
    padding: 4px;
}

.input-group-text {
    border: none;
}
