.card-img-top {
    width: 20vh;
    height: 16vh;
    object-fit: fill;
}

.power-img {
    width: 35px;
    height: 35px;
}

.resource-img {
    width: 25px;
    height: 25px;
}

.card {
    background-color: #66707b;
}
