{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{%  endblock styles %}
{% block content %}

    <div class="account_created">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="account_message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="form_container">
        <form class="form">
        {{ form.hidden_tag() }}
            <fieldset class="log_box">
                <span class="log_title">Login</span>
                <div class="email">
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                      {{ form.email(class="input error_input") }}
                        {% for error in form.email.errors %}
                            <div class= "error"> {{ error }} </div>
                        {% endfor %}

                    {% else %}
                        {{ form.email(class="input") }}
                    {% endif %}
                </div>
                <div class="password">
                    {{ form.password.label() }}
                    {% if form.password.errors %}
                      {{ form.password(class="input error_input") }}
                        {% for error in form.password.errors %}
                            <div class= "error"> {{ error }} </div>
                        {% endfor %}

                    {% else %}
                        {{ form.password(class="input") }}
                    {% endif %}
                </div>
                <span class="al_reg"><a href="{{ url_for('register') }}"> Forgot password?</a></span>
                <div class="submit">
                        {{ form.submit(class="btn3") }}
                </div>
            </fieldset>
            <span class="al_reg">Dont have an account? <a href="{{ url_for('register') }}"> Register now!</a></span>
        </form>
    </div>
{% endblock content %}