{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock styles %}
{% block content %}
    <div class="user-army-container">
    <div id="army-name">{{ current_user.army.name }}</div>
        <div class="tables">
            <div class="resources">
                {% for resource in user_resources %}
                    <div class="resource">
                        <img class="img" src="{{ url_for('static', filename='images/'+user_resources[resource].picture+'.png') }}">
                        <div id="{{ resource }}">
                            <div class="resource-name">{{ resource }}</div>
                            <div class="{{ user_resources[resource].picture }}-amount">{{ user_resources[resource].amount }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="user-army">
        </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock scripts %}
