{% extends "layout.html" %}
{% block content %}
    <div class="user-army-container">
        <div class="tables">
            <div class="table-parent">
                <h4>resource</h4>
                <div class="att-def">
                    <button class="attack-button">Attack</button>
                    <button class="defense-button">Defense</button>
                </div>
                    <div class="army-resources attack">
                    <div class="user-resource">
                        <span>gold</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>wood</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>metal</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>field</span>
                        <span>*number*</span>
                    </div>
                </div>
                <div class="army-resources defense" style="display: none">
                    <div class="user-resource">
                        <span>fuck</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>barak</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>little</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>shit</span>
                        <span>*number*</span>
                    </div>
                </div>
            </div>
            <div class="table-parent">
                <h4>army</h4>
                <div class="att-def">
                    <button class="attack-button">Attack</button>
                    <button class="defense-button">Defense</button>
                </div>
                <div class="army-power attack">
                    <div class="user-resource">
                        <span>soldiers</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>tanks</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>bombs</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>power</span>
                        <span>*number*</span>
                    </div>
                </div>
                <div class="army-power defense" style="display: none">
                    <div class="user-resource">
                        <span>fuck</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>barak</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>little</span>
                        <span>*number*</span>
                    </div>
                    <div class="user-resource">
                        <span>shit</span>
                        <span>*number*</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock scripts %}
