<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block styles %}{% endblock %}
    <title>base</title>
</head>
<body>
    <nav id="nav-bar">
        <div class="nav-links">
            <ul>
                <li class="js-side"><a href="{{ url_for('base.index') }}">home page</a></li>
                <li class="js-side"><a href="lala">how to play</a></li>
                <li class="js-side"><a href="lala">support</a></li>
                <li class="js-side"><a href="lala">copyright </a></li>
                {% if current_user.is_authenticated %}
                    <li class="js-side"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li class="js-side"><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li class="js-side"><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="main-container">
        {% block content %}
        {% endblock %}
        {% if current_user.is_authenticated %}
            <div class="side-links">
                <ul>
                    <li><a href="{{ url_for('base.index') }}">Base</a></li>
                    <li><a href="{{ url_for('shop.index') }}">Shop</a></li>
                    <li><a href="#">Attack</a></li>
                    <li><a href="#">Clan</a></li>
                    <li><a href="#">Mail</a></li>
                    <li><a href="#">Vacation</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>