{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock styles %}

{% block content %}
    <div class="table-container">
        <div class="table-div">
        <div
                id="user-resources"
                data-army-gold="{{ current_user.army.gold }}"
                data-army-metal="{{ current_user.army.metal }}"
        >
            <div>
                <span>gold: <span id="current-gold-amount">{{ current_user.army.gold }}</span></span>
                <img class="img" src="{{ url_for('static', filename='images/gold.png') }}">
            </div>
            <div>
                <span>metal: <span id="current-metal-amount">{{ current_user.army.metal }}</span></span>
                <img class="img" src="{{ url_for('static', filename='images/metal.png') }}">
            </div>
        </div>
            <table class="table">
                <thead>
                    <tr id="shop-cat">
                        <th id="weapon">Weapons</th>
                        <th id="cost">Cost</th>
                        <th id="power">Power</th>
                        <th>Buy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shop_items %}
                        <tr class="tr-item">
                            <td class="shop-item">
                                <img class="wep-img" src="{{ url_for('static', filename='images/'+shop_items[item].picture_name+'.png') }}">
                            </td>
                            <td class="td-item-cost">
                                <div>
                                    <h5 class="item-cost">{{ shop_items[item].gold }}</h5>
                                    <img class="img" src="{{ url_for('static', filename='images/gold.png') }}">
                                </div>
                                <div>
                                    <h5 class="item-cost">{{ shop_items[item].metal }}</h5>
                                    <img class="img" src="{{ url_for('static', filename='images/metal.png') }}">
                                </div>
                            </td>
                            <td class="td-item-power">
                                <span class="item-power">{{ shop_items[item].power }}</span>
                                <img class="img" src="{{ url_for('static', filename='images/power.png') }}">
                            </td>
                            <td class="td-button">
                                <div class="item-amount">
                                    you own: <span class="current-amount">{{ current_user.army.get_item_amount(item) }}</span>
                                </div>
                                <input  class="amount" placeholder="0" type="text">
                                <button
                                        class="buy-btn"
                                        data-item="{{ item }}"
                                        data-cost-gold="{{ shop_items[item].gold }}"
                                        data-cost-metal="{{ shop_items[item].metal }}"
                                >Buy</button>
                                <div class="purchase-result"></div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
{% endblock scripts %}


 
